
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    
}
/*section_logo*/
.logo-section {
    padding-top: 18px;
    padding-bottom: 18px;
}
.roboto {
    font-family: Roboto, sans-serif;
}
 
.logo {
    width: 282px;
    display: inline;
}
.logo-section .contact-list {
    display: table;
    float: right;
    padding-top: 15px;
}
.logo-section .contact-list .icon {
    display: table-cell;
    vertical-align: middle;
    width: 45px;
    text-align: center;
}
.logo-section .contact-list .call {
    margin-left: 16px;
    text-align: start;
    border-left: solid 2px #dd2c2c;
    padding-left: 8px;
}
.logo-section .contact-list .call p {
    color: #959595;
    margin: 0;
}
row:after {
    clear: both;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.logo-section .contact-list .icon i {
    color: #959595;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
/*end of section_logo*/
.row:before {
    display: table;
    content: " ";
}
/*main*/
.main {
    background-color:  green;
    padding: 62px 0;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    margin-bottom: 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text h2 {
    font-size: 26px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 100;
    margin: 0;
}
.text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height:40px;
    position: relative;
}
.text h1::after {
    content: "";
    width: 85px;
    height: 6px;
    background: #dd2c2c;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.text p {
    color: #ffffff;
    margin-top: 50px;
    padding-right: 5px;
    font-size: 14px;
    text-align: justify;
    text-align-last: center;
}
.visible-sm, .visible-xs {
    display: none!important;
}
.form h2 {
    font-size: 26px;
    color: #fff;
    font-weight: 100;
    text-align: center;
}


.form form .input-group {
    margin-bottom: 14px;
}
.input-group {
    width: 100%;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .form-control {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
form input[type="text"] {
    text-align: right;
    height: 44px;
}
.input-group-addon:last-child {
    border-left: 0;
}
form .input-group-addon {
    width: 56px;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
}
.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group-addon {
       color: #555;
    text-align: center;
}
.fa-globe:before {
    content: "\f0ac";
}
.form button{
    background: var(--refcolor);
    color: #fff;
    height: 44px;
}
.fa-paper-plane:before {
    content: "\f1d8";
}
/*end of main*/
/*january-offer */

.j-offer {
    background-color: #f5f5f5;
    color: #003248;
    padding: 44px 0 8px;
}
.j-offer a {
    color: #ffffff;
    display: inline-block;
    width: 272px;
    position: relative;
    top: -20px;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    font-weight: 400;
    background: #dd2c2c;
    border-radius: 12px;
    padding-right: 45px;
}
.j-offer h2 {
    margin: 0;
    line-height: 0;
    font-size: 35px;
}
.j-offer h3 {
    margin: 0;
    line-height: 0;
    font-size: 20px;
    margin-top: 48px;
    font-weight: 200;
}
.visible-sm, .visible-xs {
    display: none!important;
}
.j-offer a span i {
    font-size: 20px;
    color: #D8D8D8;
}
.j-offer a span {
    display: inline-block;
    height: 100%;
    width: 25%;
    margin-left: 0;
    right: 0;
    position: absolute;
    top: 0;
    background: #003248;
    color: #ffffff;
    border-radius: 0 12px 12px 0;
}
.j-offer span i
{
    margin-top: 23px;
}
/*end of january-offer */

/*services*/
.services {
    color: #003248  ;
    padding: 62px 0;
}
.services h4 {
    font-family: "aljazeera";
    font-size: 14px;
    margin-top: 0;
}
.services h3 {
    font-family: "aljazeera";
    font-size: 22px;
}

.services .row {
    margin-top: 5%;
}
.c-sin-sp {
    border-left: 1px solid #DADADA;
}
.c-sin {
    border-right: 1px solid #DADADA;
}
.services h4 {
    font-family: "aljazeera";
    font-size: 14px;
}
.services p {
    font-family: "aljazeera";
    font-size: 12px;
    color: #8a8a8a;
    line-height: 24px;
}
.servb{
    display: block;
    margin: 22px auto;
    padding: 0;
    width: 148px;
    height: 45px;
    background-color: #dd2c2c;
    border: none;
    color: #ffffff;
    font-size: 10px;
    padding-left: 32px;
    font-weight: bold;
    line-height: 45px;
    border-radius: 12px;
    position: relative;

}
.servb span {
    display: inline-block;
    height: 100%;
    width: 25%;
    margin-left: 0;
    left: 0;
    position: absolute;
    top: 0;
    line-height: 45px;
    background: #003248;
    color: #ffffff;
    border-radius: 12px 0 0 12px;
}
.servb span i {
    font-size: 15px;
    color: #D8D8D8;
    margin-top: 14px;
}
.fa-whatsapp:before {
    content: "\f232";
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
hr {
    height: 0;
    
    box-sizing: content-box;
}
/*end of services*/

/*before*/
.before {
    background-image: url(../images/discount.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    padding: 62px 0;
}
.automatic
{
       background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}
.automatic .carousel-control-next-icon
{
    margin-top:170px
}
.automatic .carousel-control-prev-icon
{
        margin-top:170px;
}
/* end of before*/

/*channels*/
.channels {
    background: #dd2c2c;
    padding: 20px 0;
}
.channels img {
    max-width: 117px;
    margin: 0 auto;
}
/*end of channels*/
/*footer*/

footer {
    background: #f5f5f5;
    padding: 35px 0 0;
    font-family: "aljazeera";
    direction: rtl;
}
footer h6 {
    font-size: 20px;
    margin-bottom: 30px !important;
    margin-top: 10px !important;
    color: #003248 !important;
    font-family: "aljazeerab" !important;
}
.logob {
    color: #003248 !important;
    font-size: 14px;
    width: 258px;
}
.logow {
    width: 240px;
    margin-top: 24px;
    float: left;
}
footer ul {
    margin: 0px;
    padding: 0px;
}
.addresss-info li {
    font-size: 14px;
    margin-bottom: 15px;
    color: #003248 !important;
    list-style: none;
}
.addresss-info i {
    color: #003248 !important;
    padding-right: 5px;
    float: left;
    display: table-cell;
    width: 30px;
    line-height: 23px;
    font-size: 14px;
}
.fa-map-marker:before {
    content: "\f041";
}
.addresss-info p, .addresss-info a {
    display: table;
    color: #003248 !important;
    line-height: 1.2;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: 'roboto';
}
.fa-phone:before {
    content: "\f095";
}
.fa-envelope:before {
    content: "\f0e0";
}
hr.send {
    border-top: 1px solid rgba(0, 50, 72, 0.3);
}
footer form {
    width: 80%;
}
footer form input[type='text'] {
    height: 30px;
    margin-bottom: 5px !important;
    border: solid 1px #e0e0e0;
}

footer form .new {
    border-radius: 3px;
    font-size: 13px;
    color: #003248 !important;
    padding: 10px 15px;
    width: 100%;
    opacity: .8;
    border: solid 1px #e0e0e0;
    background: white;
}
footer form input[type='text'] {
    height: 30px;
    margin-bottom: 5px !important;
    border: solid 1px #e0e0e0;
}
footer form .new {
    border-radius: 3px;
    font-size: 13px;
    color: #003248 !important;
    padding: 10px 15px;
    width: 100%;
    opacity: .8;
    background: white;
}
footer button {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
    margin-top: 20px !important;
    border: none;
    background: #dd2c2c;
    width: 100%;
}
.fa-paper-plane:before {
    content: "\f1d8";
}
.copy {
    padding: 20px 0;
    border-top: 1px solid rgba(0, 50, 72, 0.3);
    margin-top: 20px !important;
}
.copyp, .copyp a {
    margin-top: 15px !important;
    font-size: 12px;
    color: #003248 !important;
    letter-spacing: 0.5px;
    text-align: left;
    font-family: 'roboto';
}
.copyp span {
    color: #dd2c2c;
    font-weight: 900;
}
footer ul.social {
    margin-top: 10px !important;
    padding: 0;
}
footer ul.social li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 10px 0 10px;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
footer ul.social li a {
    color: #003248 !important;
    font-size: 16px;
}
/*footer*/
/*fixed bar */

.lg-bar2 {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #fff;
    z-index: 555;
    box-shadow: 0 0 3px #B5B5B5;
    display: none;
    text-align: center;
}
.show {
    display: block!important;
}
.lg-bar2 li {
    width: 59px;
    height: 80px;
    line-height: 80px;
}
.lg-bar2 li a {
    padding: 15px;
   
}
/* end of fixed bar */

/*chat*/
.img-chat
{
    
    right: 30px;
    bottom: 30px;
    position: fixed;
    z-index: 54561211;
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.3);
}
#widget-global-82besmybfjp * {
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;

}
body
{
    position: relative;
}
#root
{
     position: fixed;
    bottom: 50px;
    right: 0px;
    display: none;
    z-index: 54545648745;
    
}

.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(233, 238, 244);
}
.point-chat {
    position: absolute;
    z-index: 585659586464948;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.2em 0.8em;
    margin-top: 2.2em;
    margin-left: 0.8em;
    min-width: 180px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
    display: none;
}
.point-chat ul
{
  list-style-type: none;
    margin: 0px;
    padding: 0px;  
}
.msg
{
    display: flex;
    pointer-events: none;
    border-bottom: 1px solid rgb(233, 238, 244);
    padding: 20px

}
.msg i
{
    margin-top: 5px;
}
.send
{
    margin-right: 5px;
    color: gray;

}

.sec2 {
    display: flex;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
    color: rgb(66, 77, 87);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.15em 0.3em;
    flex-shrink: 0;
    padding: 1rem;
    background: rgb(255, 255, 255);
}
.part-sec2 {
    display: flex;
    min-width: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}
.part-img{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-right: 0.5em;
}
.chatt-img {
    text-align: center;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 0px;
    border-radius: 50%;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.chatt-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.active1 {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 13px;
    top: 0px;
    background: rgb(112, 213, 38);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 50%;
}
.name-chat {
    font-size: 0.9em;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    margin-left: 60%;
}
.desc {
    font-weight: 300;
    font-size: 0.9em;
    opacity: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}
.like-dislike{
    display: flex;
    min-width: 0px;
 
}
.like
{
    margin-left: 10px;
}
.conversation
{
        overflow-y:scroll;

}

.image-chat
{
    text-align: right;
    padding: 10px;
}
.image-chat img
{
    height: 20px;
    widows: 20px;
    border-radius: 50%;
}
.name-conv
{
    font-size: 10px;
    color: gray;
    padding-top: 20px;
}
.start-con {
    display: inline-block;
    margin-bottom: 0.1em;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
    color: rgb(66, 77, 87);
    border-width: 0px;
 
    background: rgb(255, 255, 255);
    margin-left: 10px;
    margin-bottom: 30;
}
.words
{
    padding: 20px;
    text-align: right;
}
.visitor
{
     padding: 10px;
}
.visitor-con {
    display: inline-block;
    margin-bottom: 0.1em;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
    color: white;
    border-width: 0px;
     background: rgb(67, 132, 245);

    margin-left: 10px;
    margin-bottom: 30;
}
.send-msgg {
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px -1em 1em;
    z-index: 1;
    background: rgb(255, 255, 255);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
}
.padd {
    display: flex;
    min-width: 0px;
}
textarea
{
    border: none;
}
.send-words
{
    margin-top: 14px;
}
.send-words i
{
    color: gainsboro;
}
.footer-chat {
    font-size: 0.65em;
    width: 100%;
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 0.5em 0px;
}

/*end of chat*/
/*model*/
.modal-content
{
    background-color: #003248;
}
.modal-header {
    border-bottom:none !important;

}
.close
{
    color: white;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
   
}
.bk-red
{
    background-color:#dd2c2c;
    color: white;
    margin-bottom: 20px;
}
/* end of model*/

/*responsive*/
@media(max-width:768px) and (min-width:20px)
{
   .logo-section
    {
        display: none;
    }
    .fixed-bar
    {
        display: none;
    }
    .text h2
    {
       font-size: 18px; 
    }
    .text h1
    {
        font-size: 25px;
    }
    .j-offer h2
    {
        margin-top: 20px;
        font-size: 30px;
    }
    .j-offer h3 
    {
        margin-bottom: 30px;
     font-size: 17px;

    }
   
.c-sin-sp {
    border-left:none;
}
.c-sin {
    border-right: none;
        margin-bottom: 80px;

}
    .cars
    {
        margin-bottom: 40px;
    }
    .hidden-xss
    {
        display: none;
    }
  
}
@media(max-width:767px) and (min-width:570px)
{
    .channels img {
   width:90px;
}
}


.row:before {
    display: table;
    content: " ";
}
.small-bar {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 3px 0 0px;
    box-shadow: 0 2px 3px #DEDEDE;
    z-index: 555;
}

.small-bar {
    width: 100%;
}
.small-bar table tr td a {
}
.small-bar table tr td i {
    color: #959595;
    font-size: 19px;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.small-bar table {
    text-align: center;
}
.table td, .table th {
   
     border-top: none;
}
.logo-div {
    margin-top: 60px;
    padding: 20px 0;
    position: relative;
}
.slogo {
    width: 190px;
    display: block;
    margin: 0 auto;
}
@media(max-width:2000px) and (min-width:768px)
{
   .small-bar
    {
         display: none;
    }
    .logo-div
    {
       display: none; 
    }
}
@media(max-width:990px) and (min-width:20px)
{
   .automatic .carousel-control-next-icon
{
    margin-top:110px
}
.automatic .carousel-control-prev-icon
{
        margin-top:110px;
}
    
}
@media(max-width:579px) and (min-width:20px)
{
    .thanks
    {
        font-size: 12px
    }
}
